@page
@model BigMammaWebsite.Pages.Events.CreateEventModel
@{
    ViewData["Title"] = "Lav nye events";
}
<h1>Event skaber</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model._event.Name" class="control-label"></label>
                <input asp-for="@Model._event.Name" class="form-control" />
                <span asp-validation-for="@Model._event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._event.Description" class="control-label"></label>
                <input asp-for="@Model._event.Description" class="form-control" />
                <span asp-validation-for="@Model._event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._event.City" class="control-label"></label>
                <input asp-for="@Model._event.City" class="form-control" />
                <span asp-validation-for="@Model._event.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._event.DateTime" class="control-label"></label>
                <input asp-for="@Model._event.DateTime" class="form-control" />
                <span asp-validation-for="@Model._event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._event.Price" class="control-label"></label>
                <input asp-for="@Model._event.Price" class="form-control" />
                <span asp-validation-for="@Model._event.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
